
<!--
==================================================
    Clients Section Start
================================================== -->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">ILS M'ON FAIT CONFIANCE</h2>
                <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">Les entreprises qui on eu confiance en moi.</p>
                <div id="clients-logo" class="owl-carousel">
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-1.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-2.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-3.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-4.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-5.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-1.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-2.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-3.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-4.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('assets/images/clients/logo-5.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
       ==================================================
       Footer Section Start
       ================================================== -->
<footer id="footer">
    <div class="container">
        <div class="col-md-8">
            <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design and Developed by <a href="#" target="_blank">Magib SAll</a>. <br>
                par
                <a href="#" target="_blank">
                    NJcorporation
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <!-- Social Media -->
            <ul class="social">
                <li>
                    <a href="http://wwww.fb.com/themefisher" class="Facebook">
                        <i class="ion-social-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                        <i class="ion-social-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="Linkedin">
                        <i class="ion-social-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="http://wwww.fb.com/themefisher" class="Google Plus">
                        <i class="ion-social-googleplus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer> <!-- /#footer -->